language: r
sudo: required
dist: trusty
bioc_required: true
cache: packages
env:
  global:
    - R_MAX_NUM_DLLS=250
addons:
  apt:
    packages:
      - libgsl-dev
      - libsdl1.2-dev
      - libreadline-dev
      - imagemagick
      - libfftw3-dev
      - libudunits2-dev
install:
 - if [ `git branch | grep '* master' | wc -l` == 0 ]; then sed -i 's#\(dynverse/[^, ]*\)#\1@devel#' DESCRIPTION; fi
 - R -e 'if ("devtools" %in% rownames(installed.packages())) update.packages(oldPkgs = "devtools", ask = FALSE) else install.packages("devtools")'
 - R -e 'devtools::install_cran("covr")'
 - R -e 'devtools::install_github(c("r-lib/rlang", "tidyverse/ggplot2#2405"))'
 - R -e 'setRepositories(ind = 1:2); devtools::install(dependencies = T, upgrade = T)'
after_success:
 - R -e 'covr::codecov()'
